.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);

}

.item1 {
    background-color: blue;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 400px;
}

.item2 {
    background-color: rgb(52, 78, 66);
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    height: 200px;

}

.item3 {
    background-color: rgb(255, 196, 0);
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    height: 400px;
}

.item4 {
    background-color: rgb(0, 255, 106);
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    height: 200px;
}

.item5 {
    background-color: rgb(255, 0, 221);
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    height: 400px;
}

.item6 {
    background-color: rgb(255, 72, 0);
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    height: 190px;
}

.item7 {
    background-color: rgb(255, 238, 0);
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    height: 400px;
}

.item8 {
    background-color: rgb(25, 0, 255);
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    height: 200px;
}
.item9 {
    background-color: rgb(0, 153, 255);
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    height: 200px;
}
.item10 {
    background-color: rgb(72, 255, 0);
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    height: 200px;
}

img{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
    align-items: center;
}
.im1 {
    margin-top: 200px;
}
.im2 {
    margin-top: 80px;
}
