div {
    padding: 10px;
    margin: 0;
    
}
section{
    display: inline-block;
    width: 22%;
    padding: 0px;
    margin: 1%;
    border-radius: 20px;
}
section.b1{
    color: rgb(30, 33, 219);
}
section.b2{
    color: rgb(75, 221, 99);
}
section.b3{
    color: rgb(223, 12, 12);
}
.b1{
    background-color: rgb(51, 155, 158);
    border: 0.5ch solid rgb(232, 235, 36);
}
.b2{
    background-color: rgb(129, 20, 100);
    border: 0.5ch solid rgb(202, 134, 182);
}
.b3{
    background-color: rgb(219, 122, 32);
    border: 0.5ch solid rgb(65, 80, 9);
}
img{
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    width: 294px;
    height: 320px;
}
h1,h3{
    text-align:center;
}
body{
    background-color: rgb(0, 7, 2);
}